{
    "semi": true,
    "singleQuote": false,
    "tabWidth": 2,
    "endOfLine": "lf",
    "trailingComma": "all",
    "bracketSpacing": false,
    "bracketSameLine": false,
    "arrowParens": "always",
    "useTabs": false,
    "printWidth": 90
  }
  